<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.mapper.UserMapper">

    <resultMap id="userMap" type="User">
        <id column="id" property="id"/>
        <result column="u_name" property="userName"/>
        <result column="password" property="password"/>
    </resultMap>


    <select id="listUserByName" resultMap="userMap">
        select <include refid="allColumn"/> from t_user where u_name = #{userName}
    </select>


    <sql id="allColumn">
       id, u_name, password
    </sql>
</mapper>